/*.contentxx {*/
.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.odd {
    background-color:lightgrey;
}
.even{
    background-color:white;
}

.hkcssColorRed {
    color:red;
}
.hkcssContentedit {

    /*webkit-user-modify: read-write;*/
    /*word-wrap: break-word;*/
    /*webkit-line-break: after-white-space;*/
    /*webkit-user-select: text;*/
    color:green;

    white-space: nowrap;
    /*width:200px;*/
    overflow: hidden;
}



