/*.contentxx {*/
.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}


.dev-notes {
    color:blue;
    font-size:10px;
}

.input-textarea {
    background-color:lightblue;
    font-size:20px;
    width:70%;
    display:inline;
}



.hkcssColorRed {
    color:red;
}
.hkcssContentedit {

    /*webkit-user-modify: read-write;*/
    /*word-wrap: break-word;*/
    /*webkit-line-break: after-white-space;*/
    /*webkit-user-select: text;*/
    /*color:green;*/

    white-space: nowrap;
    /*width:200px;*/
    overflow: hidden;
}

.hkcssPosFixed {
    /*xxcolor: red;*/
    /*xx#header {*/
    /*position: fixed;*/
    z-index:1
    /*xxmargin-top: 100px;*/
}

.hkcssPosTable {
    font-size: 16px;
    /*xx#header {*/
    /*margin-top: 100px;*/
    /*xxposition: static;*/
    /*position: relative;*/
    /*xxtop: 300;*/
    z-index:0
    /*xxleft: 100;*/
    color: green;
}
.odd {
    /*http://www.w3schools.com/html/html_colors.asp*/
    background-color:lightgrey;
    /*color: black;*/
}
.even{
    background-color:white;
    /*color: darkblue;*/
}


