<div ng-app>
    <section data-ng-controller="UstodosController">

        <div class="col-md-12">
            <form class="form-horizontal" data-ng-submit="search()" novalidate>
                <fieldset>
                    <div class="form-group">
                        <br>
                        <div class="controls">
                            <input type="text" data-ng-model="hbkkBindSearch"  id="text" class="form-control" placeholder="Do" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-sm">
                    </div>
                    <div data-ng-show="error" class="text-danger">
                        <strong data-ng-bind="error"></strong>
                    </div>
                </fieldset>
            </form>

            <!--<a ng-href="http://u2d.co" target="_blank">UsToDo</a>-->

            <a ng-href="{{ $scope.post[0]}}">{{ $scope.post[0] }}</a>

            <!--<div ng-bind-html-unsafe='htmlString'></div>-->

            Count: <span ng-bind="ustodosQueryResult.length"></span>

            <table >
                <!--<tr ng-repeat="ustodo in ustodos ">-->
                    <!--&lt;!&ndash; timeAgo &ndash;&gt;-->
                    <!--<td><span data-ng-bind="UtilDate.timeAgo(ustodo.datelastmod)" title={{UtilDate.dateObjFromMongoString(ustodo.datelastmod).toString()}}></span></td>-->
                    <!--&lt;!&ndash; html &ndash;&gt;-->
                    <!--<td>-->
                        <!--<span contenteditable="true"-->
                            <!--onclick = "this.contentEditable = true;"-->
                            <!--ng-bind-html="ustodos[$index].html"></span>-->
                    <!--</td>-->
                <!--</tr>-->




                <tr ng-repeat="ustodo in ustodos ">
                    <td><span data-ng-bind="UtilDate.timeAgo(ustodo.datelastmod)" title={{UtilDate.dateObjFromMongoString(ustodo.datelastmod).toString()}}></span></td>
                    <!--<td>{{ ustodo.text}}</td>-->
                    <td>            <span id="contentx{{$index}}" contenteditable="true"
                                          onclick = "this.contentEditable = true;"
                                          onmouseover="this.contentEditable = false;
                        this.ustodo_innerhtmlpre = this.innerHTML;"
                                          onmouseout = "this.contentEditable = false;
//                    console.log ('this.prex:'+this.ustodo_innerhtmlpre);
//                    console.log ('this.prey:'+this.innerHTML);
//                    if (!this.ustodo_innerhtmlpre.equals(this.innerHTML))
//                                            alert ('SaveHere');
                    "
                                          ng-bind-html="ustodos[$index].html | linky:'_blank'"></span></td>
                </tr>



                    <!--//                   onmouseover="this.contentEditable = false; this.ustodo_innerhtmlpre = this.innerHTML;"-->
                    <!--//                   onmouseout = "this.contentEditable = false;-->
                    <!--//                    console.log ('this.prex:'+this.ustodo_innerhtmlpre);-->
                    <!--//                    console.log ('this.prey:'+this.innerHTML);-->
                    <!--//                    if (!this.ustodo_innerhtmlpre.equals(this.innerHTML))-->
                    <!--//                                            alert ('SaveHere');-->
            </table>

            <!--<span data-ng-bind="UtilDate.timeAgo(ustodo.datelastmod)" title={{UtilDate.dateObjFromMongoString(ustodo.datelastmod).toString()}}></span>-->
            <!--<span id="contentx{{$index}}" contenteditable="true"-->
                  <!--onclick = "this.contentEditable = true;"-->
                  <!--onmouseover="this.contentEditable = false;-->
                        <!--this.ustodo_innerhtmlpre = this.innerHTML;"-->
                  <!--onmouseout = "this.contentEditable = false;-->
                    <!--"-->
                  <!--ng-bind-html="ustodos[$index].html"></span>-->
        </div>
    </section>
</div>



