<div ng-app>
<div ng-app>

    <div ng-address-bar></div><br><br>

    <section data-ng-controller="UstodosController" ng-init="keyCount=0">
        <!--<section data-ng-controller="UstodosController" ng-keydown="count = count + 4;" ng-init="count=0">-->

        <!--hi <input > key down count: {{count}}-->
        <!--Enter name: <input type="text" ng-model="name"><br>-->
        <!--Hello <span ng-bind="name"></span>!-->
        <!--name2<div ng-bind = "name"></div>yy-->


        <!--<div id="edit" contentEditable="true">-->
            <!--<p id="initial_text">-->
                <!--test-->
            <!--</p>-->
        <!--</div>-->

        <div class="hkcssPosFixed">


            <button  ng-click='incrCount()'>
                incrCount
            </button>
            <span class="col-md-12">
                <form class="form-horizontal" data-ng-submit="search()" novalidate>
                    <fieldset>
                        <div class="form-group">
                            <br>
                            <div class="controls">

                                <div>found: <span ng-bind="this.ustodos.length"></span ></div>
                                <div>this.commands.length: <span ng-bind="this.commands.length"></span ></div>
                                <input type="submit" value="Do" class="btn btn-sm" style="padding:2px;font-size:10px; display:inline">
                                <input type="text" ng-keyup="onKeyUpInputField()" data-ng-model="commandFromInputBox"
                                       id="textHKKH" class="input-textarea" placeholder="Do" required>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


                                <!--<input class="img-circle text-center" type='image'-->
                                       <!--src='modules/ustodos/img/UsToDoanimalsblack.jpg'-->
                                       <!--style='height:30px;'-->
                                       <!--ng-click='sayhi()'/>-->
                                <!--&lt;!&ndash;ng-mouseover="mouseOverDeleteButton(file)"&ndash;&gt;-->
                                <!--&lt;!&ndash;ng-mouseleave="mouseLeaveDeleteButton(file)"&ndash;&gt;-->





                                <span class="dev-notes">
                                    <button ng-click="utdact()" ng-init="count=0">
                                        Act
                                    </button>
                                    <div>Operator is: {{filterCondition.operator}}</div>

                                    <select ng-model="filterCondition.operator"
                                            ng-options="operator.value as operator.displayName for operator in operators">
                                    </select>

                                    Dirty: <span ng-bind ='areThereChanges'></span>
                                    <!--areThereChanges2<span ng-bind = {{areThereChanges}}></span>yy-->
                                      keycount: {{keyCount}}
                                </span>
                            </div>
                        </div>
                        <div data-ng-show="error" class="text-danger">
                            <strong data-ng-bind="error"></strong>
                        </div>
                    </fieldset>
                </form>

                <!--<a ng-href="http://u2d.co" target="_blank">UsToDo</a>f-->

                <a ng-href="{{ $scope.post[0]}}">{{ $scope.post[0] }}</a>

                <!--<div ng-bind-html-unsafe='htmlString'></div>f-->

                <!--<button ng-click="count = count + 1" ng-init="count=0">-->
            </span>
        </div>

        <div class="hkcssPosTable">
            <table >
                <!--<tr ng-repeat="ustodo in ustodos ">f-->
                <!--&lt;!&ndash; timeAgo &ndash;&gt;f-->
                <!--<td><span data-ng-bind="UtilDate.timeAgo(ustodo.datelastmod)" title={{UtilDate.dateObjFromMongoString(ustodo.datelastmod).toString()}}></span></td>f-->
                <!--&lt;!&ndash; html &ndash;&gt;f-->
                <!--<td>f-->
                <!--<span contenteditable="true"f-->
                <!--onclick = "this.contentEditable = true;"f-->
                <!--ng-bind-html="ustodos[$index].html"></span>f-->
                <!--</td>f-->
                <!--</tr>f-->

                <!--<tr ng-repeat="ustodo in ustodos | filter:commandUrlQ" ng-keyup="onKeyUp($index)" class='hkcssContentedit'  ng-class-odd="'odd'" ng-class-even="'even'">-->
                <tr ng-repeat="ustodo in ustodos "
                    ng-keyup="event=$event; myFnOnKeyUp($index, $event)" ng-keydown="myFnOnKeyDown($index, $event)"
                    class='hkcssContentedit' ng-class-odd="'odd'" ng-class-even="'even'">

                    <!-- DELETE BUTTON -->
                    <td>
                        <!--<button ng-click="count = count + 1" ng-init="count=0">-->
                        <!--<button ng-click="deleteDbUstotoById(ustodo)" ng-init="count=0">del</button>-->

                        <!-- trash garbage icon -->
                        <img class="per-row-icons-trashimage" ng-src="/img/gnome_edit_delete.png"
                             alt="{{image.name}}"  title='delete'
                             ng-click="deleteDbUstotoById(ustodo)"
                                >

                        <!--ng-show="nowShowing==$index"-->
                        <!--ng-repeat="image in images"-->
                        <!--class="gallery-image fade-animation"-->
                    </td>

                    <!-- SAVE BUTTON -->
                    <td>
                        <!--<button ng-click="count = count + 1" ng-init="count=0">-->
                        <!--<button ng-click="alignAnUstodoWithUstodoHtmlByIndex($index)">SAV</button>-->

                        <!--<img height=15 ng-src="/img/gnome_edit_save.jpg"-->
                        <img class="per-row-icons" ng-src="/img/saveIcon.jpg" title='save'
                             alt="{{image.name}}"
                             ng-click="saveUstodoGiven(ustodo, $index)"
                                >

                    </td>

                    <!-- COUNT -->
                    <!--<td>{{$index+1}} <span data-ng-bind="UtilDate.timeAgo(ustodo.datelastmod)" title={{UtilDate.dateObjFromMongoString(ustodo.datelastmod).toString()}}></span></td>-->

                    <!-- TIME AGO -->
                    <!--<td>&nbsp;<span class="per-row-count" data-ng-bind="UtilDate.timeAgo(ustodo.datelastmod) + ustodo.datelastmod+'.'+ustodo._id"-->
                    <td>&nbsp;<span class="per-row-count" data-ng-bind="UtilDate.timeAgo(ustodo.datelastmod)"
                              ng-click="event_click_timeAgo(ustodo._id)" title={{ustodo.datelastmod+'.'+ustodo._id}}></span></td>
                    <!--<td>{{ ustodo.text}}</td>f-->

                    <!-- TEXT -->
                    <td>
                        <span id="ustodorow{{$index}}" contenteditable="true"
                              onclick = "this.contentEditable = true;"
                              onmouseover="this.contentEditable = false;"
                            ng-bind-html="ustodos[$index].html | linky:'_blank'"
                              xxxonmouseout = "this.contentEditable = false"
                            >
                        ng-bind-html="SkipValidationHK(ustodos[$index].html)"
                        <!--ng-bind-html="ustodos[$index].html | linky:'_blank'"-->
                              <!--ng-bind-html="ustodos[$index].html"-->
                              <!--ng-bind-html="skipValidation (ustodos[$index].html)"-->
                        <!--ng-bind-html="ustodos[$index].html"-->
                                <!--ng-bind-html="ustodos[$index].html | linky:'_blank'"-->

                        </span>
                        <!--ng-bind-html="$scope.getHtmlHk($index)"-->
                        <!--ng-bind-html="$sanitize(ustodos[$index].html)"-->
                        <!--<span class="per-row-id" ng-bind-html="ustodos[$index]._id">-->
                            <!--&lt;!&ndash;ng-bind-html="ustodos[$index].html | linky:'_blank'"&ndash;&gt;-->
                        <!--</span>-->
                    </td>
                    <!--//this.ustodo_innerhtmlpre = this.innerHTML;"-->
                    <!--//                    console.log ('this.prex:'+this.ustodo_innerhtmlpre);-->
                    <!--//                    console.log ('this.prey1:'+this.innerHTML);-->
                    <!--//                    if (!this.ustodo_innerhtmlpre.equals(this.innerHTML))-->
                    <!--//                                            alert ('SaveHere');-->

                </tr>

                <!--//                   onmouseover="this.contentEditable = false; this.ustodo_innerhtmlpre = this.innerHTML;"f-->
                <!--//                   onmouseout = "this.contentEditable = false;f-->
                <!--//                    console.log ('this.prex:'+this.ustodo_innerhtmlpre);f-->
                <!--//                    console.log ('this.prey2:'+this.innerHTML);f-->
                <!--//                    if (!this.ustodo_innerhtmlpre.equals(this.innerHTML))f-->
                <!--//                                            alert ('SaveHere');f-->
            </table>

            <!--<span data-ng-bind="UtilDate.timeAgo(ustodo.datelastmod)" title={{UtilDate.dateObjFromMongoString(ustodo.datelastmod).toString()}}></span>f-->
            <!--<span id="contentx{{$index}}" contenteditable="true"f-->
            <!--onclick = "this.contentEditable = true;"f-->
            <!--onmouseover="this.contentEditable = false;f-->
            <!--this.ustodo_innerhtmlpre = this.innerHTML;"f-->
            <!--onmouseout = "this.contentEditable = false;f-->
            <!--"f-->
            <!--ng-bind-html="ustodos[$index].html"></span>f-->
        </div>
    </section>>
</div>



